In [7]:
import psycopg2 as pg
import pandas.io.sql as psql
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [8]:
_query = """
SELECT
  count(*),
  trim('"' FROM block::text )::int as block
FROM (SELECT
e->'log'->'height'::text as block
from fnode0.missing_messages
 WHERE e->'log'->'event'->4 is not null 
"""

_order = """
 ) as s
  GROUP by s.block
 ORDER BY block ;"""


def query(i):
    return _query + ' AND run = %s ' % i + _order

connection = pg.connect("host='localhost' dbname=load user=load password='load'")

In [9]:
log_runs = pd.read_sql_query('SELECT * from log_runs;', con=connection)
log_runs

   id                         label                         ts
0   1  v5_oldcode_Jan30_2_drop_line 2019-01-31 20:01:40.916787
1   2  v6_newcode_Jan30_2_drop_line 2019-01-31 20:17:18.531736

In [10]:
import plotly.plotly as py
import plotly.graph_objs as go

data = []
for i, n in log_runs['label'].items():
    r = log_runs['id'][i]
    df = pd.read_sql_query(query(r), con=connection)
    data.append(
        go.Scatter(x=df['block'], y=df['count'], name=n.replace('test_',''))
    )

py.iplot(data, filename='WIP-messages')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~VeenaGondkar/0 or inside your plot.ly account where it is named 'WIP-messages'

# test

* fooh
* bar

# test

### testing